@()

@main("welcome") {
<div>
  <h2>Behavior Scan</h2>
  <h3>- What color do you look like ? -</h3>
  <p> あなたのツイートから、心理状態をスキャンします<br>
    Scanningボタンを押すと、Twitterの認証画面が表示されます</p>
  <button>Scanning</button>
  <h5>&lt; this application is fanmade. &gt;</h5>
  <h4>README</h4>
  <ul>
    <li>
      このアプリケーションはTwitterの認証が必要です
    </li>
    <li>
      制作者が勉強がてらお遊びで作ったものです、気軽に遊んでください
    </li>
    <li>
      あなたのタイムライン上のツイートを一定数分析し、発言の傾向による心理状態を解析します<br>
      とくにデータ収集は目的としておらず、ツイートはデータソースとして使うだけですので、アプリケーション側には保存，記録はされません
    </li>
    <li>
      世に溢れる悪意あるアプリケーションかと不安に感じた方は、ソースコードは公開しておりますのでぜひどうぞ<br>
      むしろコードレビューなどしていただけると作者喜びますし、疑う姿勢は大変素晴らしいものですので大事にしてください
    </li>
  </ul>
  <h4>About @@hrk0619</h4>
  <p>
    ちょっぴりヲタク気質なやんごとないSIerです<br>
    twitter @@hrk0619<br>
    github Hiroka0619<br>
    souce <a href=""></a>
    weblog <a href="http://cerulean.hatenablog.com/">ルーズリーフ</a><br>
    このアプリケーションに関する記事はこちら↓<br>
    <a href="http://cerulean.hatenablog.com/entry/2014/10/24/160025">発言から人物像のカラーリング</a><br>
  </p>
</div>
}
